<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="ico" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datashare</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">

    
  </head>


<div class="container">
 {% if not session.logged_in %}
    <h3>You are not logged in, please <a href="{{ url_for('index') }}">log in</a> !</h3>
  {% else %}
</div>

  <div class=metanav>



<!--

 <div class="navbar navbar-fixed-top" role="navigation">

        <div class="container-fluid">
          <div class="navbar-header">
          <a class="btn btn-navbar" data-toggle="navbar-toggle collapse" data-target=".nav-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="navbar-brand">QA Central</a>
 
            <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="main.php">Home</a></li>
              <li><a href="../help/help.php">Help</a></li>              
            </ul>
            
            <ul class="nav pull-right">
<li><a>Welcome,  Feixue</a></li>&nbsp;&nbsp;<a class="btn btn-primary" href="/qacentral/logoff.php">Logout</a>          </ul>

          </div></.nav-collapse 
        </div>
     </div>
    

 -->  



  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Datashare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('show_log',type='git') }}">Data</a></li>
            <li><a href="#">About</a></li>
            
            <li><a href="#"></a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right ng-scope" ng-controller="user_ctrl" id="header_me">
                <li class="divider-vertical hidden-xs"></li>
                <li>
                     <a href="" wt-tracker="Header|Menu|Goto Apply">{{ session.username }} </a></li><li><a href="{{ url_for('logout') }}" class="btn">Log out</a>
                  
                
                </li>
          </ul>
          
          
        </div>
      </div>
    </nav>
 



<div class="container-fluid">

<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <li class="nav-header">script</li>
              <li><a href="{{ url_for('data_list',type='script') }}">script</a></li>

              <li class="nav-header">code_log</li>
              <li><a href="{{ url_for('data_list',type='git') }}">git</a></li>
            <li><a href="{{ url_for('data_list',type='svn') }}">svn</a></li>
            <li><a href="{{ url_for('data_list',type='bazaar') }}">bazaar</a></li>
            <li><a href="{{ url_for('data_list',type='hg') }}">hg</a></li>
              <li class="nav-header">bug_data</li>
              <li><a href="">bugzilla</a></li>
            <li><a href="">jira</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
         
     
            {% block body %}{% endblock %}
   
           
        </div><!--/span-->
    
</div>
</div>







    




{% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}


   <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
    

</html>
